# Key Steps to Successfully Complete the Credit Card Fraud Detection Project

1. **Define the Problem and Objectives**
   - Clearly state the problem: Detect fraudulent transactions.
   - Objective: Minimize false positives while maintaining high detection rates.

2. **Data Collection and Understanding**
   - Gather the dataset.
   - Understand the features and labels.
   - Assess the quality and structure of the data.

In [97]:
import pandas as pd
import numpy as np

df = pd.read_csv('CreditCardData.csv')
df.head()

,Transaction ID,Date,Day of Week,Time,Type of Card,Entry Mode,Amount,Type of Transaction,Merchant Group,Country of Transaction,Shipping Address,Country of Residence,Gender,Age,Bank,Fraud
0,#3577 209,14-Oct-20,Wednesday,19,Visa,Tap,£5,POS,Entertainment,United Kingdom,United Kingdom,United Kingdom,M,25.2,RBS,0
1,#3039 221,14-Oct-20,Wednesday,17,MasterCard,PIN,£288,POS,Services,USA,USA,USA,F,49.6,Lloyds,0
2,#2694 780,14-Oct-20,Wednesday,14,Visa,Tap,£5,POS,Restaurant,India,India,India,F,42.2,Barclays,0
3,#2640 960,13-Oct-20,Tuesday,14,Visa,Tap,£28,POS,Entertainment,United Kingdom,India,United Kingdom,F,51.0,Barclays,0
4,#2771 031,13-Oct-20,Tuesday,23,Visa,CVC,£91,Online,Electronics,USA,USA,United Kingdom,M,38.0,Halifax,1

In [40]:
for col in df:
    print(col, ': ', df[col].unique())

Transaction ID :  ['#3577 209' '#3039 221' '#2694 780' ... '#3304 849' '#3532 129'
 '#3107 092']
Date :  ['14-Oct-20' '13-Oct-20' '16-Oct-20' '15-Oct-20']
Day of Week :  ['Wednesday' 'Tuesday' 'Thursday' 'Friday']
Time :  [19 17 14 23 20 18 11  1 21  0  8  9 15 22  7  3 12  4  5 10 13  2 16  6
 24]
Type of Card :  ['Visa' 'MasterCard']
Entry Mode :  ['Tap' 'PIN' 'CVC']
Amount :  ['£5' '£288' '£28' '£91' '£30' '£231' '£154' '£39' '£17' '£326' '£106'
 '£21' '£211' '£98' '£25' '£242' '£22' '£29' '£397' '£38' '£155' '£12'
 '£9' '£381' '£94' '£16' '£349' '£49' '£270' '£13' '£11' '£314' '£320'
 '£6' '£206' '£57' '£59' '£26' '£153' '£27' '£20' '£123' '£285' '£24'
 '£23' '£226' '£296' '£353' '£60' '£134' '£80' '£241' '£86' '£309' '£161'
 '£261' '£264' '£10' '£53' '£119' '£19' '£330' '£14' '£110' '£18' '£173'
 '£115' '£189' '£219' '£268' '£341' '£92' '£7' '£145' '£382' '£358' '£318'
 '£93' '£66' '£130' '£325' '£111' '£380' '£347' '£233' '£143' '£129' '£70'
 '£79' '£62' '£375' '£52' '£180' '£95' '£71' '£87' '£340' '£169' '£345'
 '£384' '£298' '£229' '£34' '£36' '£216' '£337' '£394' '£35' '£299' '£15'
 '£179' '£133' '£361' '£247' '£97' '£151' '£8' '£41' '£138' '£342' '£77'
 '£362' '£385' '£199' '£306' '£150' '£176' '£307' '£246' '£253' '£175'
 '£230' '£398' '£221' '£46' '£392' '£260' '£329' '£359' '£346' '£32'
 '£291' '£395' '£357' '£265' '£279' '£389' '£85' '£74' '£228' '£185'
 '£131' '£366' '£100' '£192' '£352' '£42' '£368' '£207' '£336' '£388'
 '£250' '£252' '£160' '£243' '£302' '£113' '£322' '£212' '£191' '£132'
 '£168' '£84' '£102' '£372' '£126' '£40' '£178' '£190' '£239' '£202'
 '£248' '£371' '£367' '£215' '£141' '£188' '£301' '£237' '£117' '£147'
 '£107' '£139' '£283' '£137' '£45' '£280' '£386' '£348' '£364' '£369'
 '£383' '£44' '£43' '£177' '£67' '£267' '£245' '£146' '£238' '£313' '£78'
 '£305' '£222' '£321' '£257' '£142' '£69' '£220' '£82' '£327' '£96' '£290'
 '£344' '£122' '£303' '£277' '£356' '£289' '£281' '£304' '£335' '£114'
 '£81' '£148' '£194' '£144' '£182' '£390' '£136' '£224' '£31' '£251'
 '£186' '£282' '£48' '£101' '£208' '£167' '£158' '£76' '£64' '£256' '£351'
 '£172' '£391' '£275' '£63' '£72' '£234' '£254' '£89' '£263' '£338' '£363'
 '£171' '£286' '£294' '£376' '£135' '£287' '£196' '£181' '£51' '£90' '£37'
 '£258' '£125' '£195' '£217' '£140' '£56' '£365' '£274' '£58' '£240'
 '£273' '£310' '£47' '£292' '£149' '£121' '£332' '£210' '£112' '£312'
 '£378' '£235' '£204' '£54' '£157' '£324' '£127' '£323' '£65' '£152'
 '£399' '£116' '£311' '£293' '£184' '£214' '£316' '£109' '£124' '£223'
 '£360' '£218' '£269' '£272' '£183' '£118' '£209' '£315' '£393' '£55'
 '£339' '£373' '£162' '£249' '£174' '£377' '£99' '£103' '£317' '£128'
 '£319' '£213' '£83' '£50' '£105' '£387' '£266' '£354' '£166' '£156'
 '£271' '£297' '£355' '£198' '£187' '£308' '£350' '£104' '£73' '£88'
 '£262' '£374' '£61' '£225' '£333' '£334' '£120' '£203' '£379' '£259'
 '£396' '£255' '£170' '£331' '£108' '£200' '£300' '£163' '£201' '£236'
 '£400' '£244' '£165' '£164' '£328' '£370' '£159' '£75' '£343' '£197'
 '£68' '£193' '£232' '£227' '£33' '£295' '£276' '£205' '£284' '£278' nan]
Type of Transaction :  ['POS' 'Online' 'ATM']
Merchant Group :  ['Entertainment' 'Services' 'Restaurant' 'Electronics' 'Children'
 'Fashion' 'Food' 'Products' 'Subscription' 'Gaming' nan]
Country of Transaction :  ['United Kingdom' 'USA' 'India' 'Russia' 'China']
Shipping Address :  ['United Kingdom' 'USA' 'India' 'Russia' 'China' nan]
Country of Residence :  ['United Kingdom' 'USA' 'India' 'Russia' 'China']
Gender :  ['M' 'F' nan]
Age :  [25.2 49.6 42.2 51.  38.  48.4 39.5 37.8 43.3 69.9 54.8 48.7 43.6 46.4
 50.6 37.2 54.3 62.  28.5 55.  29.9 80.5 63.3 45.5 58.4 47.2 42.4 46.1
 45.1 53.3 35.4 52.  35.  50.2 50.9 58.2 62.8 45.  40.4 47.3 23.3 46.3
 26.  72.9 48.3 36.6 50.3 29.7 57.  38.8 51.2 48.5 48.1 45.9 45.6 53.8
 53.  40.6 51.9 40.  41.8 55.1 58.7 30.3 62.3 57.3 50.  31.5 45.7 40.2
 46.2 46.9 42.6 56.8 35.9 61.8 33.6 49.1 47.5 60.  57.8 49.4 55.7 45.8
 33.2 43.1 44.7 52.5 57.7 45.2 61.6 36.3 49.3 52.8 41.3 30.1 67.2 59.1
 54.7 36.9 32.1 27.2 47.  53.5 42.3 41.1 40.9 48.  42.7 43.4 53.9 39.7
 63.9 40.3 30.6 55.8 52.2 47.9 44.9 54.  51.6 41.6 56.7 46.6 60.5 38.2
 54.4 55.2 42.8 47.1 58.3 34.3 65.3 36.  55.9 26.3 36.2 55.6 68.9 25.1
 54.2 33.1 56.1 39.6 60.4 57.6 27.5 41.9 36.5 34.8 49.8 54.1 46.5 43.2
 39.8 69.2 33.3 33.4 29.8 51.7 32.9 55.4 52.6 65.9 63.1 29.6 42.1 34.5
 40.8 40.1 29.  37.5 49.5 56.6 47.4 38.4 49.9 44.3 57.4 33.5 45.4 44.5
 34.  32.  52.1 64.7 53.2 41.  21.8 51.1 35.6 40.7 68.3 73.8 36.8 37.4
 30.2 37.9 44.8 56.2 46.  60.3 20.4 55.3 52.9 63.4 66.4 43.9 31.  52.7
 48.8 24.9 27.  38.9 39.3 48.6 61.1 47.7 64.9 47.6 41.7 66.9 36.4 51.8
 27.9 53.1 57.9 41.2 53.4 21.9 30.7 57.2 30.5 34.1 32.2 40.5 57.5 51.5
 27.1 50.1 52.3 41.5 42.  51.3 34.7 19.2 34.6 35.5 33.9 50.4 55.5 31.2
 29.5 39.4 59.2 35.2 39.1 50.5 52.4 59.7 46.8 30.9 32.6 38.1 49.2 44.
 54.6 35.3 35.1 51.4 48.9 50.8 61.2 15.  62.4 74.1 42.5 26.2 58.  35.8
 37.7 33.8 61.7 42.9 59.5 47.8 37.1 25.6 58.5 64.3 56.4 31.4 36.1 28.9
 62.1 61.9 35.7 43.7 31.8 30.8 39.  25.  32.4 27.4 30.  34.4 48.2 29.3
 53.6 56.3 23.4 29.4 70.5 18.6 39.2 33.7 50.7 61.3 43.8 38.7 17.2 34.2
 63.5 37.3 28.8 38.5 56.  65.7 66.8 31.3 59.9 28.6 67.6 32.3 43.5 31.1
 44.2 23.8 23.9 62.6 49.  63.2 71.1 60.6 62.7 43.  21.6 62.9 38.6 61.
 39.9 37.  63.6 36.7 32.8 56.5 54.9 65.2 45.3 49.7 65.1 60.7 58.9 25.3
 62.2 72.4 44.1 46.7 65.5 22.1 54.5 37.6 22.3 31.6 38.3 60.1 67.8 59.
 25.7 56.9 34.9 24.5 44.4 24.3 53.7 33.  24.6 22.8 27.3 67.4 32.5 29.1
 24.7 25.5 66.  59.3 21.7 60.8 67.5 28.4 24.  75.7 58.8 69.5 65.4 60.9
 64.  17.6 59.4 57.1 26.1 32.7 26.5 24.2 44.6 65.8 28.  23.6 67.1 59.6
 29.2 69.1 64.6 68.1 28.1 28.7 66.7 58.6 31.7 41.4 59.8 69.8 72.6 23.2
 22.6 27.6 22.5 61.5 58.1 17.  66.2 27.8 31.9 64.1 63.8 24.8 28.2 26.4
 26.9 63.7 26.8 21.  69.4 26.7 74.8 19.5 74.2 26.6 21.2 70.9 23.  66.5
 22.2 18.  21.5 82.9 22.7 23.5 25.4 25.9 63.  60.2 19.1 19.9 23.7 19.8
 75.9 25.8 27.7 61.4 17.4 21.1 72.7 19.  75.4 64.4 64.2 21.3 75.5 62.5
 65.  20.3 67.9 18.8 69.  70.1 22.  69.3 72.  68.2 22.4 24.4 22.9 64.8
 68.7 70.8 24.1 73.  64.5 30.4 20.5 21.4 73.5 66.6 19.7 69.6 71.  72.8
 18.9 28.3 65.6 66.3 73.4 19.3 20.1 70.  16.8 69.7 20.9 17.5 76.1 77.
 17.9 18.4 83.  18.5 18.3 68.5 77.7 67.7 72.5 74.7 20.7 20.  71.2 16.7
 68.4 68.8 19.6 23.1 20.8 68.6 19.4 74.  81.5 16.  77.5 71.5 17.7 17.8
 82.  20.2 81.9 70.4 71.4 71.3 20.6 18.1 67.3 72.1 75.2 68.  73.6 18.2
 66.1 73.9 67.  70.3 73.7 78.5 18.7 77.3 72.2 72.3 76.9 79.4 73.1 74.9
 75.3 74.3 77.9 76.5 78.1 70.6 81.4 17.1 79.5 16.9 75.1 71.7 71.6 74.4
 73.2 71.8 17.3 71.9 77.6 70.7 75.8 75.  81.2 73.3 80.  77.4 79.3 82.4
 76.4 80.1 70.2 79.  82.8 77.1 76.2 74.6 80.2 79.1 79.7 76.6 76.7 76.3
 78.  82.3 76.8 78.4 74.5 80.4 80.7 79.8 75.6 85.7 76.  86.1 77.2 81.8
 78.8]
Bank :  ['RBS' 'Lloyds' 'Barclays' 'Halifax' 'Monzo' 'HSBC' 'Metro' 'Barlcays']
Fraud :  [0 1]

In [106]:
df['Fraud'].sum()

7195

3. **Data Preprocessing**
   - **Cleaning**: Handle missing values, remove duplicates, and correct errors.
   - **Feature Engineering**: Create new features that might help the model (e.g., transaction frequency, average transaction amount).
   - **Encoding Categorical Variables**: Convert categorical variables into numerical ones using techniques like one-hot encoding.
   - **Normalization/Standardization**: Scale the features to ensure they contribute equally to the model.

In [99]:
# Remove pound symbol from Amount:
df['Amount'] = df['Amount'].str.replace('£', '')

df['Amount'].head()

0      5
1    288
2      5
3     28
4     91
Name: Amount, dtype: object

In [116]:
# Display rows with null values
df[df.isnull().any(axis=1)]

,Transaction ID,Date,Day of Week,Time,Type of Card,Entry Mode,Amount,Type of Transaction,Merchant Group,Country of Transaction,Shipping Address,Country of Residence,Gender,Age,Bank,Fraud
286,#2550 151,13-Oct-20,Tuesday,13,Visa,PIN,19,ATM,NaN,United Kingdom,United Kingdom,United Kingdom,F,52.9,Barclays,0
383,#2550 715,14-Oct-20,Wednesday,15,Visa,PIN,243,ATM,Products,Russia,Russia,Russia,NaN,41.0,Barclays,0
1720,#2550 654,14-Oct-20,Wednesday,10,Visa,PIN,204,ATM,NaN,United Kingdom,USA,United Kingdom,M,33.9,RBS,0
2092,#2550 150,14-Oct-20,Wednesday,21,Visa,CVC,11,Online,NaN,India,India,India,M,48.9,Lloyds,0
4913,#2550 516,14-Oct-20,Wednesday,20,MasterCard,CVC,27,Online,Gaming,USA,NaN,USA,F,51.0,Metro,0
6208,#2550 472,14-Oct-20,Wednesday,17,MasterCard,PIN,5,ATM,Food,United Kingdom,NaN,United Kingdom,F,42.6,Halifax,0
6404,#2550 074,14-Oct-20,Wednesday,21,MasterCard,PIN,30,ATM,NaN,United Kingdom,United Kingdom,United Kingdom,F,34.5,Barlcays,0
8299,#2550 517,14-Oct-20,Wednesday,17,MasterCard,CVC,13,Online,Children,China,NaN,China,M,50.5,Barclays,0
8436,#2550 479,13-Oct-20,Tuesday,9,MasterCard,PIN,20,ATM,Children,United Kingdom,NaN,United Kingdom,M,52.1,Barclays,0
34456,#2550 256,13-Oct-20,Tuesday,1,MasterCard,CVC,NaN,Online,Children,USA,USA,United Kingdom,M,24.7,Barclays,1
35068,#2550 306,14-Oct-20,Wednesday,11,Visa,Tap,NaN,POS,Services,United Kingdom,China,United Kingdom,M,34.2,Halifax,1
42573,#2550 489,14-Oct-20,Wednesday,15,MasterCard,Tap,26,POS,Restaurant,China,NaN,United Kingdom,F,40.4,HSBC,0
58262,#2550 167,13-Oct-20,Tuesday,15,Visa,CVC,19,Online,NaN,United Kingdom,United Kingdom,United Kingdom,M,75.4,Barclays,0
60272,#2550 678,14-Oct-20,Wednesday,13,Visa,PIN,95,ATM,NaN,United Kingdom,USA,United Kingdom,NaN,51.4,Barlcays,0
61927,#2550 318,13-Oct-20,Tuesday,15,Visa,PIN,NaN,ATM,Restaurant,USA,USA,USA,F,61.1,Monzo,0
75522,#2550 145,13-Oct-20,Tuesday,7,Visa,PIN,200,POS,NaN,United Kingdom,India,United Kingdom,F,56.5,Lloyds,0
80125,#2550 291,13-Oct-20,Tuesday,5,MasterCard,CVC,NaN,Online,Restaurant,Russia,Russia,United Kingdom,M,61.8,Halifax,1
82488,#2550 263,13-Oct-20,Tuesday,14,Visa,PIN,NaN,ATM,Subscription,United Kingdom,United Kingdom,United Kingdom,M,37.6,Barlcays,0
88360,#2550 128,14-Oct-20,Wednesday,14,Visa,CVC,237,Online,NaN,United Kingdom,United Kingdom,United Kingdom,F,37.4,Barlcays,0
91322,#2550 709,13-Oct-20,Tuesday,13,MasterCard,CVC,8,Online,NaN,United Kingdom,United Kingdom,United Kingdom,NaN,34.3,HSBC,0
93311,#2550 729,13-Oct-20,Tuesday,18,MasterCard,CVC,282,Online,Restaurant,United Kingdom,India,United Kingdom,NaN,37.9,Halifax,0
93330,#2550 305,13-Oct-20,Tuesday,21,Visa,CVC,NaN,Online,Services,United Kingdom,China,United Kingdom,F,53.2,Barclays,0
96289,#2550 661,13-Oct-20,Tuesday,7,MasterCard,CVC,333,Online,NaN,United Kingdom,United Kingdom,United Kingdom,F,39.1,HSBC,0

In [119]:
# Remove rows with null values
df = df.dropna()

In [121]:
# Display duplicate rows
df[df.duplicated()]

Empty DataFrame
Columns: [Transaction ID, Date, Day of Week, Time, Type of Card, Entry Mode, Amount, Type of Transaction, Merchant Group, Country of Transaction, Shipping Address, Country of Residence, Gender, Age, Bank, Fraud]
Index: []

In [123]:
# Convert Amount to int
df['Amount'] = df['Amount'].astype(int)

C:\Users\sherw\AppData\Local\Temp\ipykernel_35816\2750819743.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Amount'] = df['Amount'].astype(int)

In [124]:
df.describe()

               Time        Amount           Age         Fraud
count  99977.000000  99977.000000  99977.000000  99977.000000
mean      14.563100    112.579933     44.993595      0.071937
std        5.308202    123.435613      9.948121      0.258384
min        0.000000      5.000000     15.000000      0.000000
25%       10.000000     17.000000     38.200000      0.000000
50%       15.000000     30.000000     44.900000      0.000000
75%       19.000000    208.000000     51.700000      0.000000
max       24.000000    400.000000     86.100000      1.000000

4. **Exploratory Data Analysis (EDA)**
   - Visualize data distributions and relationships using plots (histograms, scatter plots, etc.).
   - Identify patterns, correlations, and potential outliers.
   - Understand the balance of the target variable (fraud vs. non-fraud).

5. **Data Splitting**
   - Split the dataset into training and testing sets (commonly an 80/20 or 70/30 split).
   - Ensure the split maintains the distribution of the target variable.

6. **Model Selection**
   - Choose a variety of algorithms to test (e.g., Logistic Regression, Decision Trees, Random Forest, Gradient Boosting, Neural Networks).
   - Use a validation set or cross-validation to assess performance during training.

7. **Model Training**
   - Train the selected algorithms on the training data.
   - Use cross-validation to fine-tune model parameters and prevent overfitting.

8. **Hyperparameter Tuning**
   - Use techniques like Grid Search or Random Search to find the optimal parameters for each model.
   - Evaluate the models using cross-validation to ensure robustness.

9. **Model Evaluation**
   - Evaluate models on the testing set using metrics such as Accuracy, Precision, Recall, F1-Score, and ROC-AUC.
   - Use a confusion matrix to understand the types of errors (false positives and false negatives).

10. **Model Selection and Improvement**
    - Choose the best-performing model based on evaluation metrics.
    - Consider further tuning or combining models (ensemble methods) to improve performance.

11. **Final Model Training**
    - Train the final model on the entire dataset for deployment.
    - Save the trained model using libraries like Pickle or Joblib

12. **Deployment and Monitoring**
    - Deploy the model to a production environment.
    - Set up monitoring to track the model’s performance over time and identify potential issues.

13. **Documentation and Reporting**
    - Document the entire process, including data preprocessing steps, model selection, training, and evaluation.
    - Create a comprehensive report with visualizations and explanations of your findings and model performance.

14. **Future Work and Improvements**
    - Identify areas for future improvements, such as collecting more data, adding new features, or trying different algorithms.
    - Discuss potential enhancements to the model and the impact they could have.